:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #00ff6a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 25%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between ;
    align-items: center;
    z-index: 100;
}


.navbar a {
    font-size: 14px;
    color: var(--text-color);
    margin-left: 14px;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);

}

.btn1{
    font-size: 12px;
    font-weight: 600;
    color: var(--main-color);
    border-radius: 35px;
    background: transparent;
    border: 2px solid var(--main-color);
    padding: 6px 12px;
    margin-left: 50px !important;
}

.btn1:hover {
    background: var(--main-color);
    color: var(--second-bg-color) !important;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

section {
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 20px;
}

#resultCard {
    display: none;
}

#closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}