@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: #f1fbff;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #00ff6a;
}


input {
    margin-bottom: 20px ;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 0;
}

label {
    margin-bottom: 10px;
}

/* navbar styling starts  */
nav {
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    padding: 40px 100px !important;
    display: flex!important;
    justify-content: space-between !important ;
    align-items: center !important;
    transition: 0.6s!important;
    z-index: 100!important;
}

nav.sticky {
    background: var(--bg-color)!important;
    color: var(--bg-color) !important;
}

nav.sticky ul li a:hover,
nav.sticky .active {
    color: var(--main-color) !important;
}


nav .logo {
    position: relative;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-left: 20px;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    position: relative;
    list-style: none;
}

nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-color) !important;
    letter-spacing: 2px;
    font-weight: 500px !important;
    transition: 0.6s;
    font-size: 18px;
}

nav ul li a:hover,
nav ul li a.active {
    color: #00ff6a!important;
}

header.sticky .logo,
header.sticky ul li a {
 color: var(--bg-color) !important;
}
/* navbar styling ends  */

.section-padding {
	padding: 100px 0;
    margin-top: 50px;
}

/* project section styling  */

.img-fluid {
    border-radius:25px 25px 0 0 ;
}

.card2 {
    border-radius: 25px;
    background-color: var(--text-color);
    border: .2rem solid var(--text-color);
    transition: .5s ease;
    margin-bottom: 20px;
}

/* hero content styling  */
.hero-section {
    position: relative;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(home-1.jpg);
    padding: 100px 20px;
    height: auto;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-top: 20px;
}

/* age checker styling  */

.btn2{
    background-color: var(--main-color);
    color: var(--bg-color) ;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    border-radius: 10px;
}

.btn2:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}

#openAgeChecker {
    width: 200px;
    background: transparent;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#openAgeChecker:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
}

#ageCheckerModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15) ;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#ageCheckerContainer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

#closeAgeChecker {
    background-color: rgb(226, 0, 0);
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    background: transparent;
    color: var(--main-color) !important;
    padding: 10px;

}

/* result card  styling*/

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;

}

.center-text {
    margin-bottom: 10px;
}

.center-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.resultcard.adult-card {
    background-color: #4CAF50;
    color: #fff; 
    padding: 20px; 
    text-align: center;
    height: 420px;
    width: 350px;

}

.resultcard.child-card {
    background-color: #2196F3; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    height: 420px;
    width: 350px;
}

.resultcard.invalid-age-card {
    background-color: #f44336; 
    color: #fff; 
    padding: 20px; 
    text-align: center;

}

.resultcard {
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultcard img {
    max-width: 100%; 
    border-radius: 8px; 

}

/* age checker styling  */

.round {
    border-radius: 12px;
    background-color: var(--text-color);
}

/* team section styling starts*/
.card1 {
        border-radius: 25px;
        background-color: var(--text-color);
        border: .2rem solid var(--text-color);
        transition: .5s ease;
        margin-bottom: 20px;
        gap: 10px;
}

.card1:hover{
    border-color: var(--main-color) !important;
    transform: scale(1.02);
}

.button1 {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color) !important;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 25px ;
    padding: 8px 18px !important;
    margin: 14px;
    cursor: pointer;
}

.button1:hover {
    background: var(--main-color);
    color: var(--text-color) !important;
}


.button2 {
    font-size: 16px;
    font-weight: 600;
    color: var(--bg-color) !important;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 25px ;
    padding: 8px 18px !important;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button2:hover {
    background: var(--main-color);
    color: var(--text-color) !important;
}
/* team section styling ends*/

.btn1 {
    background: var(--main-color);
}

.btn1:hover {
    background: var(--main-color);
    color: var(--text-color);
}


/* footer styling section starts */
footer {
	background: var(--bg-color);
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;

}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}

.follow {
    margin-top: 40px;
}


/* media section  */
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15) !important;
        backdrop-filter: blur(10px);
    }
}

@media (max-width: 768px) {
    .hero-section{
    padding: 80px 20px;
}
}

@media (max-width: 576px) {
    .hero-section{
    padding: 60px 20px;
}
}